// =============================================================================
//  HELPERS
// =============================================================================

.m-0 {
  margin: 0;
}

.f-left {
    float: left
}

.f-right {
    float: right;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.c-green {
  color: #00FF55;
}

.c-pink {
  color: $color--primary;
}

.c-yellow {
  color: #FFCD18;
}

.c-cyan {
  color: #00C3FF;
}

.c-red {
  color: #FF4343;
}

.c-orange {
  color: #FF9A34;
}

.c-purple {
  color: #AA00FF
}
