// =============================================================================
//  HELPERS
// =============================================================================

.m-0 {
  margin: 0;
}

.f-left {
    float: left
}

.f-right {
    float: right;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}
