// =============================================================================
//  LIST
// =============================================================================

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .2rem;
  }

  &:hover > &__item {
    opacity: .4;
  }

  &__item {
    display: block;
    border-bottom: 1px solid lighten($color--secondary, 10%);
    margin-bottom: .5rem;

    &:hover {
      opacity: 1 !important;
    }

    &:hover a {
      transform: translateX(10px);
    }

    a {
      display: block;
      width: 100%;
      padding: .8rem 0;
      transition: transform .3s ease;

      &:hover:after {
        content: ' 🠖';
      }

      h3 {
        display: inline;
        font-family: $font-family--primary;
        font-size: inherit;
      }
    }
  }
}

