// =============================================================================
//  HEADER
// =============================================================================

.header {
  padding: 40px 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
   &__nav ul {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    font-size: 1.2rem;

    li {
      display: inline;
      margin-left: 5%;

      a {
        transition: color .3s ease;

        &:hover {
          color: $color--primary;  
        }
      }
    }
  }
  
  &__logo {
    font-size: 20px;
    user-select: none;
    margin-top: 3px;
    height: 43px;
    
    &--text {
      display: block;
      line-height: 50px;
    }
  }
}


