@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Overpass:200,700");
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal; }

img {
  border: 0; }

/* =============================================================================
  HTML & BODY
============================================================================= */
body {
  color: #fff;
  background-color: #000;
  font-family: "Overpass Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; }

::-moz-selection {
  background: transparent;
  color: #FF1953; }

::selection {
  background: transparent;
  color: #FF1953; }

/* =============================================================================
  HEADINGS
============================================================================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
  font-weight: 200;
  margin-bottom: 22px;
  line-height: 1.2; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 22px; }

/* =============================================================================
  TEXT
============================================================================= */
p {
  margin-bottom: 22px; }

p:last-child {
  margin-bottom: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:focus {
    outline: none;
    border: 1px solid #FF1953; }

.header {
  padding: 40px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__nav ul {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    font-size: 1.2rem; }
    .header__nav ul li {
      display: inline;
      margin-left: 5%; }
      .header__nav ul li a {
        -webkit-transition: color .3s ease;
        transition: color .3s ease; }
        .header__nav ul li a:hover {
          color: #FF1953; }
  .header__logo {
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 3px;
    height: 43px; }
    .header__logo--text {
      display: block;
      line-height: 50px; }

.footer a {
  color: #FF1953;
  text-decoration: underline; }

.container {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto; }

.masonry {
  -webkit-column-gap: 3.5em;
  column-gap: 3.5em;
  margin: 1.5em 0; }
  .masonry__item {
    display: inline-block;
    margin: 0 0 3.5em;
    width: 100%; }
  @media (min-width: 32rem) {
    .masonry {
      -webkit-column-count: 2;
      column-count: 2; } }
  @media (min-width: 48rem) {
    .masonry {
      -webkit-column-count: 3;
      column-count: 3; } }

.btn {
  display: inline-block;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  white-space: nowrap;
  padding: 15px 30px;
  border-radius: 50px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  -webkit-transition: background .3s ease, -webkit-box-shadow .3s ease;
  transition: background .3s ease, -webkit-box-shadow .3s ease;
  transition: background .3s ease, box-shadow .3s ease;
  transition: background .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease; }

.btn--primary {
  background: #FF1953;
  -webkit-box-shadow: 0 0 30px rgba(255, 25, 83, 0.5);
  box-shadow: 0 0 30px rgba(255, 25, 83, 0.5); }
  .btn--primary:hover {
    -webkit-box-shadow: 0 0 40px rgba(255, 25, 83, 0.7);
    box-shadow: 0 0 40px rgba(255, 25, 83, 0.7);
    background: #ef003c; }
  .btn--primary:active {
    -webkit-box-shadow: 0 0 5px #ff1953;
    box-shadow: 0 0 5px #ff1953;
    background: #990026; }

.animation-heart--square,
.animation-heart--moveLeft,
.animation-heart--moveTop {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000; }

.animation-heart--square {
  -webkit-animation: dash 6s linear forwards;
  animation: dash 6s linear forwards; }

.animation-heart--moveLeft {
  -webkit-animation: dash 6s linear forwards .8s,  movecircle--left .6s ease-out forwards 1.6s;
  animation: dash 6s linear forwards .8s,  movecircle--left .6s ease-out forwards 1.6s; }

.animation-heart--moveTop {
  -webkit-animation: dash 6s linear forwards .8s,  movecircle--top .6s ease-out forwards 1.6s;
  animation: dash 6s linear forwards .8s,  movecircle--top .6s ease-out forwards 1.6s; }

.animation__fade-in {
  opacity: 0;
  -webkit-animation: fade-in 2s ease forwards 1.5s;
  animation: fade-in 2s ease forwards 1.5s; }

.animation__fade-to-bottom {
  opacity: 0;
  -webkit-animation: fade-to-bottom 2s ease forwards 1.5s;
  animation: fade-to-bottom 2s ease forwards 1.5s; }

.animation__fade-to-top {
  opacity: 0;
  -webkit-animation: fade-to-top 2s ease forwards 1.5s;
  animation: fade-to-top 2s ease forwards 1.5s; }

.animation__scale {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scale 1s ease-out forwards 1.8s;
  animation: scale 1s ease-out forwards 1.8s; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes movecircle--left {
  to {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px); } }

@keyframes movecircle--left {
  to {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px); } }

@-webkit-keyframes movecircle--top {
  to {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }

@keyframes movecircle--top {
  to {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }

@-webkit-keyframes fade-in {
  to {
    opacity: 1; } }

@keyframes fade-in {
  to {
    opacity: 1; } }

@-webkit-keyframes fade-to-bottom {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-to-bottom {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-to-top {
  from {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-to-top {
  from {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.4; }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.4; }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .2rem; }
  .list:hover > .list__item {
    opacity: .4; }
  .list__item {
    display: block;
    border-bottom: 1px solid #1a1a1a;
    margin-bottom: .5rem; }
    .list__item:last-child {
      border-bottom: none; }
    .list__item:hover {
      opacity: 1 !important; }
    .list__item:hover a {
      -webkit-transform: translateX(10px);
      transform: translateX(10px); }
    .list__item a {
      display: block;
      width: 100%;
      padding: .8rem 0;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 95%; }
      .list__item a:hover:after {
        content: ' 🠖'; }
      .list__item a h3 {
        display: inline;
        font-family: "Overpass Mono", monospace;
        font-size: inherit; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?86135441");
  src: url("../font/fontello.eot?86135441#iefix") format("embedded-opentype"), url("../font/fontello.woff2?86135441") format("woff2"), url("../font/fontello.woff?86135441") format("woff"), url("../font/fontello.ttf?86135441") format("truetype"), url("../font/fontello.svg?86135441#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chat:before {
  content: '\e800'; }

.icon-podcast:before {
  content: '\e801'; }

.icon-book:before {
  content: '\e802'; }

.icon-video:before {
  content: '\e803'; }

.icon-blog:before {
  content: '\e804'; }

.icon-twitter:before {
  content: '\f099'; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-money:before {
  content: '\f155'; }

.icon-github-circled:before {
  content: '\e805'; }

.call-to-action {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .call-to-action h1 {
    max-width: 400px; }

.section {
  margin: 2rem 0 4rem 0; }
  .section__title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 0; }

.tooltip {
  position: relative; }

.tooltip::after {
  background: #000;
  border-radius: .1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: .7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: .2rem .4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 0.4rem);
  transform: translate(-50%, 0.4rem);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  white-space: pre;
  z-index: 300; }

.tooltip:focus::after,
.tooltip:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -0.2rem);
  transform: translate(-50%, -0.2rem); }

.tooltip[disabled],
.tooltip.disabled {
  pointer-events: auto; }

.tooltip.tooltip--left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  -webkit-transform: translate(0.4rem, 50%);
  transform: translate(0.4rem, 50%); }

.tooltip.tooltip--left:focus::after,
.tooltip.tooltip--left:hover::after {
  -webkit-transform: translate(-0.2rem, 50%);
  transform: translate(-0.2rem, 50%); }

.m-0 {
  margin: 0; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

.c-green {
  color: #00FF55; }

.c-pink {
  color: #FF1953; }

.c-yellow {
  color: #FFCD18; }

.c-cyan {
  color: #00C3FF; }

.c-red {
  color: #FF4343; }

.c-orange {
  color: #FF9A34; }

.c-purple {
  color: #AA00FF; }
