// =============================================================================
//  MEDIA QUERIES
// =============================================================================

@mixin break($size) {  
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin button-bg($bg) {
  background: $bg;
  box-shadow: 0 0 30px rgba($bg, .5);

  &:hover {
    box-shadow: 0 0 40px rgba($bg, .7);
    background:darken($bg,8%);
  }

  &:active {
    box-shadow: 0 0 5px rgba($bg, 1);
    background:darken($bg,25%);
  } 
}
